src/main/mule/implementations/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="abfbd177-f231-4f1b-9b09-247727209fdb" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<!-- [STUDIO:"mainFlow"]<flow name="mainFlow" doc:id="a0422ec9-7656-4155-9352-c7d8e5b58327" >
		<http:listener doc:name="Listener" doc:id="9321ce3f-73e6-482a-af47-a1a5966fd985" config-ref="HTTP_Listener_config" path="/salesforce-sapi/test"/>
		<flow-ref doc:name="Flow Reference" doc:id="689b25c8-09c8-40a9-9abe-c185fbf3a079" name="salesforce-patch"/>
	</flow> [STUDIO] -->
	<sub-flow name="salesforce-patch" doc:id="5d939cd6-989a-4ae6-9e4f-c8da4e9ad9d6" >
		<logger level="INFO" doc:name="Logger" doc:id="c747efee-4af9-4e09-834a-a3ce46b4e5fb" message="#[payload]" />
		<ee:transform doc:name="create query" doc:id="ffffbe72-45a6-41f9-9ef8-0b8548a054ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
    {
        "Name": payload.name,
        "Project_Title__c": if (payload.projectTitle? and payload.projectTitle != "") payload.projectTitle else null,
        "Project_Status__c": if (payload.projectStatus? and payload.projectStatus != "") payload.projectStatus else null,
        "Progress__c": if (payload.progress? and payload.progress != "") payload.progress else null,
        //"Project_Engineer__c": if (payload.projectEngineer? and payload.projectEngineer != "") payload.projectEngineer else null,
        //"Design_Lead__c": if (payload.designLead? and payload.designLead != "") payload.designLead else null,
        "SolidWorks_Project_ID__c": if (payload.swProjectID? and payload.swProjectID != "") payload.swProjectID else null
    } 
    // Apply filterObject only on the inner object
] map ((item) -> item filterObject ((value, key) -> value != null))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="ESR__c" externalIdFieldName="Name" doc:name="Upsert" doc:id="cb6b2a43-e78f-43fb-8d12-3fdef4ba6ce8" config-ref="Salesforce_Config_RSPoles"/>
		<ee:transform doc:name="Transform Message" doc:id="8d4db868-2357-4277-a0fb-4feb296b7ff3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>


	
	
	
	</mule>
